<!DOCTYPE html>
<html lang="en">
<head>
    <title>Next-Level Leadership Game</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/5.0.0/normalize.min.css">
    <link rel='stylesheet'
          href='https://cdn.jsdelivr.net/npm/@accessible360/accessible-slick@1.0.1/slick/slick.min.css'>
    <link rel='stylesheet'
          href='https:////cdn.jsdelivr.net/npm/@accessible360/accessible-slick@1.0.1/slick/accessible-slick-theme.min.css'>
    <link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.14.0/css/all.min.css'>
    <link rel="stylesheet" type="text/css" href="../static/css/style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap"
          rel="stylesheet">
    <script src="https://kit.fontawesome.com/c7e593ee29.js" crossorigin="anonymous"></script>
</head>
<body>


<nav class="navbar navbar-inverse">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <br>
            <a class="navbar-brand" href="/">
                <img src="../static/img/others/UB.png" alt="UB Logo" style="height: 50px;">
            </a>
        </div>
        <div class="collapse navbar-collapse" id="myNavbar">
            <ul class="nav navbar-nav navbar-right">
                <li><a href="/">Home</a></li>
                <li><a href="/login">Login</a></li>
                <li><a href="/game">Game</a></li>
                <li><a href="/leaderboard">Leaderboard</a></li>
                <!-- <li class="active"><a href="/index">Leaderboard</a></li> -->
            </ul>

        </div>
    </div>
</nav>


<!-- Main Content -->


<section class="container-fluid sec-3">
    <div class="container">
        <div class="row clearfix">
            <div class="col-sm-6">
                <h6>Welcome to </h6>
                <h1>The Next Level Leadership Conference!</h1>
                <p>Here you will find motivated and inspiring mentors who will help you hone your leadership skills. Get
                    ready to make connections, learn new things, and take your leadership to the next level!</p>
            </div>
            <div class="col-sm-6">
                <img src="assets/img/others/image1.svg" class="main-img img-responsive">
            </div>
        </div>
    </div>
</section>

<section class="container-fluid sec4">
    <div class="container">
        <div class="row clearfix">
            <div class="col-sm-12">

                <div id="middleHero">

                    <h2 class="mentorTitle" id="mentorTitle">
                        Our Mentors</h2>
                    <div class="row" id="mentors">

                        <div class="card-slider"></div>
                    </div>
                    <div style="clear: both; padding-bottom: 40px; "></div>
                </div>


            </div>
        </div>
    </div>
</section>


<section class="container-fluid sec5">
    <div class="container">
        <div class="row clearfix">
            <h2>Today's Schedule</h2>
            <div class="col-sm-7 tabsss ">

                <div class="col-sm 12 np">

                    <div class="col-sm-4">
                        <button class="tablinks" onclick="openschedule(event, 'tab1')" id="defaultOpen">8:30 a.m. - 9:00
                            a.m
                        </button>
                    </div>

                    <div class="col-sm-4">
                        <button class="tablinks" onclick="openschedule(event, 'tab2')">9:00 a.m. - 9:45 a.m</button>
                    </div>

                    <div class="col-sm-4">
                        <button class="tablinks" onclick="openschedule(event, 'tab3')">9:45 a.m. - 10:00 a.m</button>
                    </div>

                </div>


                <div class="col-sm 12 np">
                    <div class="col-sm-4">
                        <button class="tablinks" onclick="openschedule(event, 'tab4')">10:00 a.m. - Students</button>
                    </div>

                    <div class="col-sm-4">
                        <button class="tablinks" onclick="openschedule(event, 'tab5')">10:00 a.m. - Mentors</button>
                    </div>

                    <div class="col-sm-4">
                        <button class="tablinks" onclick="openschedule(event, 'tab6')">10:30 a.m. - 11:45 a.m</button>
                    </div>
                </div>

                <div class="col-sm 12 np">
                    <div class="col-sm-4">
                        <button class="tablinks" onclick="openschedule(event, 'tab7')">11:45 a.m.-12:00 p.m</button>
                    </div>

                    <div class="col-sm-4">
                        <button class="tablinks" onclick="openschedule(event, 'tab8')">12:00 p.m. - 1:00 p.m</button>
                    </div>

                    <div class="col-sm-4">
                        <button class="tablinks" onclick="openschedule(event, 'tab9')">10:00 p.m.-2:00 p.m</button>
                    </div>
                </div>

            </div>

            <div class="col-sm-5 contenti">
                <div id="tab1" class="tabcontent">
                    <p style="text-align: center; position:relative;top:40px;">Student* and Mentor Check-in SU Lobby
                        <br>(*Students check in by 8:40 a.m. for BONUS tie-breaker points)
                    </p>
                </div>

                <div id="tab2" class="tabcontent">
                    <p style="text-align: center; position:relative;top:40px;">
                        Coffee and Networking Activity SU Lobby</p>
                </div>

                <div id="tab3" class="tabcontent">
                    <p style="text-align: center; position:relative;top:40px;">Welcome SU Theater</p>
                </div>

                <div id="tab4" class="tabcontent">
                    <p style="text-align: center; position:relative;top:40px;">Game Begins Students SU Theater</p>
                </div>
                <div id="tab5" class="tabcontent">
                    <p style="text-align: center; position:relative;top:40px;">Mentor Meeting Introductions 210 Landmark
                        Room</p>
                </div>
                <div id="tab6" class="tabcontent">
                    <p style="text-align: center; position:relative;top:40px;">Speed Mentoring SU 215 Social Hall</p>
                </div>
                <div id="tab7" class="tabcontent">
                    <p style="text-align: center; position:relative;top:40px;">Break SU Lobby</p>
                </div>
                <div id="tab8" class="tabcontent">
                    <p style="text-align: center; position:relative;top:40px;">Mentor Huddles SU 145</p>
                </div>
                <div id="tab9" class="tabcontent">
                    <p style="text-align: center; position:relative;top:40px;">
                        Lunch and Game Awards SU 145 </p>
                </div>


            </div>
        </div>
    </div>
</section>


<!-- Footer -->
<section class="footer container">
    <div class=" clearfix">
        <div class="col-sm-12">
            <p>© 2023 Next-Level Leadership. All Rights Reserved.</p>
        </div>
    </div>
</section>


<script src="https://cpwebassets.codepen.io/assets/common/stopExecutionOnTimeout-2c7831bb44f98c1391d6a4ffda0e1fd302503391ca806e7fcc7b9b87197aec26.js"></script>

<script src='https://code.jquery.com/jquery-3.5.1.min.js'></script>
<script src='https://cdn.jsdelivr.net/npm/@accessible360/accessible-slick@1.0.1/slick/slick.min.js'></script>
<script>
    $(document).ready(function () {

        var cards = [
            {
                name: 'Chelsea Montrois',
                img: 'static/img/mentors/chelseamontrois.jpeg',
                dsc: 'Product Designer',
                linked: 'https://www.linkedin.com/in/chelseamontrois/'
            }, {
                name: 'Jasmine Foster',
                img: 'static/img/mentors/JasmineFoster.jpg',
                dsc: 'Career Design Consultant',
                linked: 'https://www.linkedin.com/in/jasminenfoster/'
            },
            {
                name: 'Conor Sullivan',
                img: 'static/img/mentors/connor1.png',
                dsc: 'VP Balance Sheet',
                linked: 'https://www.linkedin.com/in/conor-sullivan-828108148/'
            },
            {
                name: 'Durgham Alyasiri',
                img: 'static/img/mentors/pic.jpg',
                dsc: 'Vice President, The M&T Bank Foundation',
                linked: 'https://www.linkedin.com/in/durgham/'
            },
            {
                name: 'Dan Kaczmarek',
                img: 'static/img/mentors/DanK.JPG',
                dsc: 'Director of Assessment',
                linked: 'https://www.linkedin.com/in/daniel-kaczmarek-38a34446/'
            },
            {
                name: 'Riki-Lee Ritz',
                img: 'static/img/mentors/rikiLeeRitz.JPG',
                dsc: 'VP & Managing Director',
                linked: 'https://www.linkedin.com/in/riki-lee-ritz-48078b232/'
            },
            {
                name: 'Javeena Edwards',
                img: 'static/img/mentors/Javeena Edwards.jpg',
                dsc: 'CFO/Interim CEO',
                linked: 'linkedin.com/in/javeena-a-edwards-mba-85a6637a'
            },
            {
                name: 'Denise Herkey-Jarosch',
                img: 'static/img/mentors/Denise_head_shot.jpg',
                dsc: 'Development Administrator',
                linked: 'https://www.linkedin.com/in/denise-herkey-jarosch-126ab71/ '
            },
            {
                name: 'Maria Ta',
                img: 'static/img/mentors/DSC00259.jpg',
                dsc: 'Interim Executive Director / Founder & Principal',
                linked: 'https://www.linkedin.com/in/mariangota/'
            },
            {
                name: 'Craig Garner',
                img: 'static/img/mentors/Craig_Headshot.JPG',
                dsc: 'Director Operational Excellence, Ivoclar Vivadent',
                linked: 'https://www.linkedin.com/in/craiggar/'
            },
            {
                name: 'Katie Morrow',
                img: 'static/img/mentors/Couch_Kathryn_2022_Headshot_Web.jpg',
                dsc: 'Commerical Relationship Manager',
            },
            {
                name: 'Erin Belile',
                img: 'static/img/mentors/Erin Belile.jpg',
                dsc: 'School Counselor',
                linked: 'https://www.linkedin.com/in/erin-belile-77585176/'
            },
            {
                name: 'Brenda Dysinger',
                img: 'static/img/mentors/Brenda.jpg',
                dsc: 'Chief Human Resources Officer',
                linked: 'http://linkedin.com/in/brenda-dysinger-ms-sphr-77863a9'
            },
            {
                name: 'Courtney Walsh',
                img: 'static/img/mentors/IMG_1329.jpeg',
                dsc: 'Assistant Dean, UB',
                linked: 'http://linkedin.com/in/courtneyjwalsh'
            },
            {
                name: 'Gloria Basta',
                img: 'static/img/mentors/headshot.jpg',
                dsc: 'Speech Language Pathologist',
                linked: 'https://www.linkedin.com/in/gloria-basta/'
            },
            {
                name: 'A.J. Franklin',
                img: 'static/img/mentors/0914_forgebuffalo_careerfair_2023_hr-2.jpg',
                dsc: 'Loaned Executive',
                linked: 'https://www.linkedin.com/in/a-j-franklin/'
            },
            {
                name: 'Heather Campbell',
                img: 'static/img/mentors/Heather-Campbell_portrait.png',
                dsc: 'Professional Director',
                linked: 'https://www.linkedin.com/in/heather-m-campbell/'
            },
            {
                name: 'Darren Cotton',
                img: 'static/img/mentors/DCotton_Headshot2023.jpg',
                dsc: 'Executive Director',
                linked: 'https://www.linkedin.com/in/darren-cotton-94656330/'
            },
            {
                name: 'Thomas Weimer',
                img: 'static/img/mentors/Facetune_09-12-2023-12-59-40.jpeg',
                dsc: 'Talent & Organizational Development Consultant',
                linked: 'https://www.linkedin.com/in/thomasrweimer'
            },
            {
                name: 'Nicole Bycina',
                img: 'static/img/mentors/PNG_image_9.png',
                dsc: 'Adjunct Professor',
                linked: 'Nicole Collette Bycina/ Aspiring Leaders'
            },
            {
                name: 'Kamal Patel',
                img: 'static/img/mentors/1E46F883-E53D-4BA6-92AB-6F81E095BD8C_1_105_c.jpeg',
                dsc: 'Head of Product, AireXpert',
                linked: 'https://www.linkedin.com/in/kamalpat/'
            },
            {
                name: 'Carrie Wiles',
                img: 'static/img/mentors/Carrie_July_2021.jpg',
                dsc: 'Director of Client Services',
                linked: 'https://www.linkedin.com/in/carrie-wiles-93a52/'
            },
            {
                name: 'Zhi Ting Phua',
                img: 'static/img/mentors/IMG_0378.jpeg',
                dsc: 'Director of Engagement and Inclusion',
                linked: 'www.linkedin.com/in/zhitingphua/'
            },
            {
                name: 'Ian Joyce',
                img: 'static/img/mentors/Ian Joyce.jpg',
                dsc: 'IT Manager/Network Architect',
            },
            {
                name: 'Emily-Rose Barry',
                img: 'static/img/mentors/erb_headshot.jpg',
                dsc: 'Vice President of Product',
                linked: 'https://www.linkedin.com/in/emilyrosebarry/'
            },
            {
                name: 'Edward Brodka',
                img: 'static/img/mentors/Headshot_NACE23.jpg',
                dsc: 'Career Design Consultant',
                linked: 'https://www.linkedin.com/in/edbrodka/'
            },
            {
                name: 'Vrushaali  Nagaraj',
                img: 'static/img/mentors/IMG_20221230_194453_225.jpg',
                dsc: 'Specialist IT Intern',
                linked: 'https://www.linkedin.com/vruna0504'
            },
            {
                name: 'Lisa Carter',
                img: 'static/img/mentors/Carter_headshot.png',
                dsc: 'Leadership Coach',
                linked: 'www.linked.com/in/lcarter9'
            },
            {
                name: 'Nancy Ortiz',
                img: 'static/img/mentors/FB_IMG_1703728930362.jpg',
                dsc: 'Import Analyst',
                linked: 'https://www.linkedin.com/in/nancy-m-ortiz'
            },
            {
                name: 'Donte McFadden',
                img: 'static/img/mentors/IMG_7629.jpeg',
                dsc: 'Director, Distinguished Visiting Scholars',
                linked: 'Donte McFadden'
            },
            {
                name: 'M. Nicole Horsley',
                img: 'static/img/mentors/headshot.jpeg',
                dsc: 'Distinguished Visiting Scholar',
                linked: 'https://www.linkedin.com/in/m.-nicole-horsley/'
            },
            {
                name: 'Brennan Gorman',
                img: 'static/img/mentors/Screenshot_2023-12-30_at_9.25.31_AM.png',
                dsc: 'Graduate Assistant / Founder / Co-Founder & Exec. Director',
                linked: 'https://www.linkedin.com/in/brennantgorman/'
            },
            {
                name: 'Alexander MacFarlane',
                img: 'static/img/mentors/Final_Headshot_Passport.jpg',
                dsc: 'Chief Resident',
                linked: 'https://www.linkedin.com/in/alexander-macfarlane-md-6a4b781ab/'
            },
            {
                name: 'Renee Terreri',
                img: 'static/img/mentors/Me_2.jpg',
                dsc: 'VP of Human Resources',
            },
            {
                name: 'Matthew Parrino',
                img: 'static/img/mentors/Screenshot_2024-01-03_at_3.25.41_PM.png',
                dsc: 'Sports Reporter, Syracuse Post Standard',
                linked: 'https://www.linkedin.com/in/mattparrino/'
            }
        ];
        cards.forEach(function (t, i) {
            var cardhtml = `<div class="card">
    <h2 class="title">${
                t.name
            }</h2>

    <div class="image">
      <img src="${
                t.img
            }" alt="${
                t.dsc
            }">
    </div>
  <p class="description">${
                t.dsc
            }</p>
    <div class="button-28-div">
        <button onclick="window.location.href='${
                t.linked
            }'" class = "button-28" role = "button">Connect</button>
    </div>
                       


</div>`
            $('.card-slider').append(cardhtml)
        })
        $('.card-slider').slick({
            dots: false,
            arrows: true,
            slidesToShow: 5,
            infinite: true,
            responsive: [
                {
                    breakpoint: 1024,
                    settings: {
                        slidesToShow: 3
                    }
                }, {
                    breakpoint: 800,
                    settings: {
                        slidesToShow: 2
                    }
                }, {
                    breakpoint: 600,
                    settings: {
                        slidesToShow: 1
                    }
                }
            ]
        });
    });

    function openschedule(evt, cityName) {
        var i,
            tabcontent,
            tablinks;
        tabcontent = document.getElementsByClassName("tabcontent");
        for (i = 0; i < tabcontent.length; i++) {
            tabcontent[i].style.display = "none";
        }
        tablinks = document.getElementsByClassName("tablinks");
        for (i = 0; i < tablinks.length; i++) {
            tablinks[i].className = tablinks[i].className.replace(" active", "");
        }
        document.getElementById(cityName).style.display = "block";
        evt.currentTarget.className += " active";
    }

    // Get the element with id="defaultOpen" and click on it
    document.getElementById("defaultOpen").click();
</script>
</body>
</html>
